# 파이썬 바이트코드 및 캐시 파일 제외
__pycache__/
*.py[cod]
*$py.class

# 가상환경(Virtual Environments) 제외
venv/
.venv/
env/
ENV/

# 개발 툴 설정 파일 및 환경 변수 파일 제외
.env
.vscode/
.idea/

# 로그 파일 및 OS 생성 파일 제외
*.log
.DS_Store
Thumbs.db